<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomViewCellDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E2659121C5E3D69009D7CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E26592E1C5E3D69009D7CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E2659391C5E3D6A009D7CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
